*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_bar p a
{
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
.nav_bar p a:hover
{
    background-color: orangered;
    color: white;
}
.flx-row
{
    display: flex;
    padding: 8px;
    gap: 20px;

}
.flx-row h1
{
    background-color: orange;
    color: white;
    display: flex;
    padding: 13px;

}

.flx-clmn
{
    background-color: green;
    display: flex;
    padding: 10px;
    gap: 20px;
    width: 340px;
    height: fit-content;
    flex-wrap: wrap;

}
.flx-clmn h1
{
    
    background-color: orange;
    color: white;
    display: flex;
    padding: 13px;

}
.ex_3
{
    padding: 10px;
}
@media screen and (max-width : 600px) {
    .ex_3
    {
        width: 400px;
    }

    .ex_3 div
    {
        padding: 10px;
        font-size: 18px;
    }
}
